html {
 box-sizing: border-box;
}
*,
*::after,
*::before {
 box-sizing: inherit;
}
a {
 text-decoration: none;
}
body {
 min-height: 100vh;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 font-family: "Montserrat", sans-serif; 
}
.reg-body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.form-container {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px;
}
.left-column, .right-column {
    width: 45%;
}
.main {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.main h2 {
    color: #BCD642;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button[type="submit"] {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #F0832C;
    color: white;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}