html {
 box-sizing: border-box;
}

*,
*::after,
*::before {
 box-sizing: inherit;
}
a {
 text-decoration: none;
}
body {
 min-height: 100vh;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 font-family: "Montserrat", sans-serif; 
}
.container {
 max-width: 1190px;
 padding: 0 0px; 
 margin: 0 auto; 
}